.audio-wrapper{
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.audio-title{
  text-transform: capitalize;
  font-weight: bold;
}

audio{
  width: 250px;
  media-controls-volume-slider{
    display: none !important;
  }
}

